
.duzCubuk {
    border: 1px solid rgba(var(--ipt-on-baseAlt-rgb), 0.16);
    order: 5;
    width: 2px;
    height: 2.5rem;
    margin: 0px 0.5rem;
    background-color: white;
}

.nav-link{
    color: white !important;
    margin-left: 0.25rem;
    text-wrap: nowrap;
}


.dropdown-menu{
    background-color: #F5C518;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}