<div class="row">
  <div class="col-sm-12 col-lg-10 offset-lg-1">
    <div style="display: flex;" class="row">
      <div class="col-12" style="margin-top: 10px;">
        <h1 class="text-white">
          {{"TOP_TEN" |translate}}</h1>
      </div>
    </div>
    <button (click)="test()">test123</button>
    <div class="card bg-black">
      <p-carousel [value]="movies" [numVisible]="5" [numScroll]="1"
        [responsiveOptions]="responsiveOptions" [circular]="false">
        <ng-template let-movie pTemplate="item">
          <div class="bg-dark" style="margin-right: 20px;">
            <div class="border-1 surface-border border-round m-1 p-1">
              <div style="cursor: pointer;" class="mb-3">
                <div class="relative mx-auto">
                  <img (click)="navigateToMovie(movie.id)" class="w-100 h-100" [src]="movie.posterUrl" class="w-100 border-round" />
                </div>
              </div>
              <div class="row">
                <div class="col-4">
                  <i class="bi bi-star-fill" style="color: yellow;"></i>
                  {{ movie.avgRating | number:'1.2-2' }}
                </div>
                <div style="margin-top: -5px;" class="col-5">
                  <button type="button" class="btn btn-transparent" (click)="openRatePopUp(movie.id)">
                    <i class="bi bi-star" style="color:#5799ef;"></i>
                  </button>
                </div>
              </div>
              <div class="mb-3 text-white fw-bold">
                {{ movie.title }}
              </div>
              <div class="row">
                <div class="col-12">
                  <button style="width: 100%;"  type="button" class="mb-3 btn btn-secondary" (click)="addMovieToWatchlist(movie.id)">
                    <i style="color:#5799ef;" class="bi bi-plus fw-bold">{{"WATCHLIST" | translate}}</i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>
  </div>
</div>



<div class="modal fade" id="ratingModal" tabindex="-1" aria-labelledby="ratingModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" style="padding-bottom: 50vh !important;">
    <div class="modal-content bg-dark" style="border-color: #F5C518">
      <div *ngIf="(spinnerService.isLoading$ | async)" class="spinner-overlay">
        <div class="d-flex justify-content-center" style="margin: 10%;">
            <div class="spinner-border" style="width: 7rem; height: 7rem;  color: #F5C518;" role="status">
              <span style="font-size: xx-large;" class="sr-only"></span>
            </div>
        </div>
      </div>
      <div *ngIf="!(spinnerService.isLoading$ | async)">
        <div class="modal-header">
          <h3 style="color:#F5C518;" class="modal-title" id="ratingModalLabel">Rate Movie</h3>
          <button style="color: white; background-color: white;" (click)="closeModal()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="mb-3 d-flex justify-content-center">
              <p-rating [(ngModel)]="rating" [stars]="10" [cancel]="false"></p-rating>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
          <button type="button" class="btn imdb-color" (click)="submitRating()">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>