<div class="container" style="margin-bottom: 5rem;">
    <h2>Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="submitForm()">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" formControlName="email" />
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" formControlName="password" autocomplete="current-password" />
        </div>

        <button type="submit" class="btn imdb-color" [disabled]="loginForm.invalid">Login</button>

        <button (click)="loginWithGoogle()" style="margin-top: 10px;" type="button" class="login-with-google-btn" >
            Login with Google
          </button>

    </form>
</div>