img {
    width: 100%;
    max-width: 500px; /* Adjust as needed */
}

.background-gradient {
    background: linear-gradient(90deg, rgb(var(--ipt-baseAlt-shade1-rgb, 31,31,31)), 20%, rgba(var(--ipt-baseAlt-shade1-rgb, 31,31,31), 0.6), 80%, rgb(var(--ipt-baseAlt-shade1-rgb, 31,31,31)));
}

.muted{
    color: rgb(103, 100, 100);
}

.rate-button-container {
    display: flex;
    align-items: center;
}

.btn-dark {
    display: flex;
    align-items: center;
    white-space: nowrap;
    font-size: large;

}


.bi-graph-up-arrow{
    color: green;
    font-size: xx-large;
}



