<div *ngIf="(spinnerService.isLoading$ | async) && !movie" class="spinner-overlay">
    <div class="d-flex justify-content-center" style="margin: 10%;">
        <div class="spinner-border" style="width: 7rem; height: 7rem;  color: #F5C518;" role="status">
          <span style="font-size: xx-large;" class="sr-only"></span>
        </div>
    </div>
</div>

<div class="row background-gradient">
    <div *ngIf="movie" class="col-sm-12 col-lg-10 offset-lg-1">
        <div class="row">
            <div class="col-lg-5 col-md-4 col-sm-3">
                <div class="d-flex flex-column">
                    <h1 class="text-white">{{movie.title}}</h1>
                        <label class="muted-text">{{movie.releaseYear}} - {{movie.length}} {{"MINUTES" | translate}}</label>
                </div>
            </div>
            <div class="col-lg-4 col-md-5 sm-9 d-flex offset-lg-3">
                <div class="d-flex flex-column align-items-center">
                    <label class="text-white mb-1">{{ 'MOVIE_RATING' | translate }}</label>
                    <h3 class="text-white mb-0">
                        <i class="bi bi-star-fill" style="color: yellow;"></i>
                        {{ movie.avgRating | number:'1.2-2' }}
                        <small class="muted-text">/10</small>
                    </h3>
                    <small class="muted-text">{{ 'BY_VOTES' | translate: { count: movie.numberOfRatingVotes } }}</small>
                </div>
                <div class="d-flex flex-column align-items-center ms-3">
                    <label class="text-white mb-1">{{ 'YOUR_RATE' | translate }}</label>
                    <button (click)="openModal()" type="button" class="btn btn-dark d-flex">
                        <i class="bi bi-star" style="color:#5799ef; margin-right: 5px;"></i>
                        <label class="text-white mb-0">{{ 'RATE' | translate }}</label>
                    </button>
                </div>
                <div class="d-flex flex-column align-items-center ms-3">
                    <label class="text-white mb-1">{{ 'POPULARITY' | translate }}</label>
                    <div class="d-flex align-items-center">
                        <i class="bi bi-graph-up-arrow" style="margin-right: 5px;"></i>
                        <label class="text-white mb-0" style="font-size: x-large;">{{movie.popularityRanking}}</label>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-3 col-sm-4">
                <img [src]="movie.posterUrl" alt="">
            </div>
            <div class="col-lg-8 col-sm-8">
                <iframe width="100%" height="100%" style="min-height: 35vh;" [src]="getVideoUrlSafely(movie.videoUrl)" ></iframe>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ratingModal" tabindex="-1" aria-labelledby="ratingModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="padding-bottom: 50vh !important;">
      <div class="modal-content bg-dark" style="border-color: #F5C518">
        <div *ngIf="(spinnerService.isLoading$ | async)" class="spinner-overlay">
          <div class="d-flex justify-content-center" style="margin: 10%;">
              <div class="spinner-border" style="width: 7rem; height: 7rem;  color: #F5C518;" role="status">
                <span style="font-size: xx-large;" class="sr-only"></span>
              </div>
          </div>
        </div>
        <div *ngIf="!(spinnerService.isLoading$ | async)">
          <div class="modal-header">
            <h3 style="color:#F5C518;" class="modal-title" id="ratingModalLabel">{{ 'RATE_MOVIE' | translate }}</h3>
            <button style="color: white; background-color: white;" (click)="closeModal()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <div class="mb-3 d-flex justify-content-center">
                <p-rating [(ngModel)]="rating" [stars]="10" [cancel]="false"></p-rating>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="closeModal()">{{ 'CLOSE' | translate }}</button>
            <button type="button" class="btn imdb-color" (click)="submitRating()">{{ 'SUBMIT' | translate }}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
